kind: Secret
apiVersion: v1
metadata:
  namespace: kube-system
  name: azure-credentials
data:
  azure_subscription_id: ${SUBSCRIPTION_ID}
  azure_client_id: ${CLIENT_ID}
  azure_client_secret: ${CLIENT_SECRET}
  azure_tenant_id: ${TENANT_ID}
  azure_resource_prefix: ${CLUSTER_INFRA_NAME}
  azure_resourcegroup: ${RESOURCE_GROUP_NAME}
  azure_region: ${REGION}